html {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color:#fff;
    background-color: #080808;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#tank {
    position: relative;
    height: 50%;
    overflow: hidden;
    background: linear-gradient(to bottom, #333538, #232325);
    margin: 16px;
    border-radius: 10px;
}

#time {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#time-text {
    text-align: center;
    font-size: 1em;
}

#depth {
    position: absolute;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold;
    font-size: 4em;
}

#depth-text {
    text-align: center;
    margin: 0;
}

#water {
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0px;
    margin: 0;
    background: linear-gradient(to top, #0b537b, #81d1c8);
    transition-duration: 0.75s;
}

#graph-header {
    position: relative;
    height: 2.5%;
    font-size: 0;
    background-color: #333538;
    margin: 0 16px;
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#graph {
    position: relative;
    height: 25%;
    font-size: 0;
    background: linear-gradient(to bottom, #333538, #232325);
    margin: 16px;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#graph-background {
    position: absolute;
    bottom: 20%;
    top: 5%;
    right: 1%;
    width: 87.5%;
    background: repeating-linear-gradient(to top, #434548, #434548 1px, #fff0 1px, #fff0 calc(25% - 0.25px));
}

.graph-measure {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 11.5%;
}

.graph-measure-number-wrap {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    height: 94%;
    width: 85%;
}

.graph-measure-number {
    height: 20%;
    font-size: 13px;
    color: #909090;
    text-align: right;
}

.graph-item {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 12.5%;
}

.graph-item-water {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    height: calc(75% * 0);
    width: 75%;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to top, #0b537b, #81d1c8);
    transition-duration: 0.75s;
}

.graph-item-day {
    position: absolute;
    bottom: 0;
    height: 18%;
    width: 100%;
    text-align: center;
    font-size: 16px !important;
    color: #909090;
}